<div class = "question">
  <h1>Your question</h1>
  <h1><%= @question %></h1>
</div>

<div class = "answer">
  <h1>Your coach answer</h1>
  <h1><%= @answer %></h1>
</div>

<h1><%= link_to "Ask a new question", ask_path, class: "back" %></h1>
